.titleCss{
	background-color: rgba(0,0,0,0.5);
	font-size: 16px;
	height: 40px;
	margin-top: -40px;
	color: #fff;
	z-index:100;
	position: absolute;
	width: 100%;
	padding-top: 10px;
	padding-left: 20px;
}
/*底部*/
.btn-group{ background-color:#fff;}
.x-card.btn-group .btn.active{ color:#32cd32;}
.btn-group .btn i{ font-size:30px; padding-bottom:0;}