.text-black{ color:#000;}
.text-danger{ color:#ea413c;}

.x-titlebar{ background-color:#ea413c; font-size:16px;}
.panel-heading{ border-color:#efefef;}

.img3{ width:50px; height:50px;}

.x-nopadding{padding-left:0; padding-right:0;}

.input-group i{ font-size:24px;}
.input-group .input-group-addon{ background-color:#fff; border:0; border-radius:0;}
.input-group .form-control{ border:0; border-radius:0; color:#999;}
.input-group .form-control:focus{ box-shadow:none; border-color:#efefef;}


