.title{
	margin-top:10px;
	padding:0.4em 0.6em;
	
}
.sTitle{
	border-top:1px solid #7C7C7C;
	padding:5px;
}
.ssTitle p{
	padding: 5px;
    margin-top: 3px;
    line-height: 20px;
    border-top: 1px dashed #7C7C7C;
    font-size: .8em;
    margin:0px;
}
.div-interested ,.div-channel{
	padding:0 15px;
}
.star{
	cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 28px;
    background-image: url(./img/formStar.png);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    overflow: hidden;
}
a.list-group-item:hover, a.list-group-item:focus {
 background-color: #FFF8DC;
}
 
.list-group-item {
 border: 0;
}
.list-group {
 -webkit-box-shadow: 0px 0px rgba(0,0,0,0.075);
    box-shadow: 0px 0px rgba(0,0,0,0.075);
}